<p-dialog header="FORMULÁRIO REATIVO" [(visible)]="display">
        
        <form [formGroup]="formulario">

                <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                        <input type="text" pInputText placeholder="Username">         
                    </div>
                    
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fa fa-credit-card"></i></span>  
                        <span class="ui-inputgroup-addon"><i class="fa fa-cc-visa"></i></span>   
                        <input type="text" pInputText placeholder="Price"> 
                        <span class="ui-inputgroup-addon">$</span>  
                        <span class="ui-inputgroup-addon">.00</span>      
                    </div>
                    <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-credit-card"></i></span>  
                            <span class="ui-inputgroup-addon"><i class="fa fa-cc-visa"></i></span>   
                            <input type="text" pInputText placeholder="Price"> 
                            <span class="ui-inputgroup-addon">$</span>  
                            <span class="ui-inputgroup-addon">.00</span>      
                    </div>
               
                    <button type="text" (click)="cancelDialog()" pButton icon="pi pi-info-circle" label="Sair">
        
                        </button>
            </form>
</p-dialog>
    
    <button type="text" (click)="showDialog()" pButton icon="pi pi-info-circle" label="SENIOR TESTE">
        
    </button>
    